---
import Layout from '../layouts/Layout.astro';
import ReverseShellGenerator from '@/components/ReverseShellGenerator.vue';

const title = "Reverse Shell Generator";
---

<Layout title={title}>
  <div class="flex flex-col items-center w-full">
    <ReverseShellGenerator client:load />
  </div>
</Layout>
