<footer class="w-full mt-18 pt-6 pb-8 text-sm flex flex-col gap-4 border-main border-t !border-op-50 text-white">
  <div class="flex flex-col items-start gap-2">
    <a
      href="https://github.com/UmmItKin/offensive-web"
      target="_blank"
      rel="noopener noreferrer"
      class="nav-link flex items-center gap-2"
    >
      <i class="i-mdi-github text-base" />
      <span>UmmItKin/offensive-web</span>
    </a>
    <span class="op-50 text-xs">Licensed under AGPLv3</span>
  </div>
</footer>
